.ContactUs {
    background-color: #06112f;

}

.ContactItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 40px;
}

.ContactItem p {
    margin-top: 10px;
    color: #68f3ff;
    text-decoration: underline;
}

.ContactUs h1 {
    font-family: "Sometype Mono";
    text-align: center;
    padding: 20px;
    background-color: #06112f;
    margin-bottom: 0;
    color: #68f3ff;
    font-weight: bold;
    font-style: italic;
}