.custom-carousel {

}
  
.custom-carousel-image {
width: 100%; /* Set the width to 100% to make all images the same width */
height: 600px; /* Maintain the aspect ratio */
object-fit: cover;
}

.OurWork h1 {
    font-family: "Sometype Mono";
    text-align: center;
    padding: 20px;
    background-color: #06112f;
    margin-bottom: 0;
    color: #68f3ff;
    font-weight: bold;
    font-style: italic;
}