.CardArea {
  background-color: #06112f;
}

.Card {
  background-color: #06112f;
  border: 2px solid #0e2b7b;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.ServiceBox h1 {
  text-align: center;
  padding: 20px;
  background-color: #06112f;
  margin-bottom: 0;
  color: #68f3ff;
  font-style: italic;
  font-family: 'Titillium Web';
  font-weight: bold;
  font-size: 40px;
}

.bookButton {
  background-color: #0e2b7b;
}

.ReadMoreArea {
  background-color: #06112f;
}

.ReadMoreArea button {
  margin: 20px 20px 0px 20px;
  background-color: #0e2b7b;
}
